# Este es el archivo de configuración de Git por usuario.
[user]
# Por favor, adapta y descomenta las siguientes líneas:
	name = Jeff McKenzie
	email = heroinbob@users.noreply.github.com
  signingkey = 0x373354577725B1FF
[pull]
	rebase = true
[commit]
	gpgsign = true
