# Este es el archivo de configuración de Git por usuario.
[user]
# Por favor, adapta y descomenta las siguientes líneas:
	name = Jeff McKenzie
	email = mackenzie.luceononuro@gmail.com
[pull]
	rebase = true
